html {
    font-size: 17px;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

footer {
    height: 50px;
    margin-top: auto;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("/static/img/Camera-Images-Wallpapers-006.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-top: -20px;
}

nav {
    background: #16181b;
}

.tm-login-form {
    border-style: solid;
    padding: 30px;
}

.navbar .logo {
    max-height: 50px;
    padding-right: 100px;
}

.container {
    padding-top: 10px;
}

.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.brand-section {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
    padding: 3px 8px;
}

h2 {
    margin-right: 35px;
}

.card.offer, .offer-details .list-group-item {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.card-img-top-wrapper {
    height: 200px;

    overflow: hidden;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.form-group {
    padding: 10px;
}

.field-error {
    background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
    color: white;
}

.custom-file-row {
    margin-left: 1px;
    margin-right: 1px;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    /*background: #fff;*/
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #ffffff;
}

.profile-head h6 {
    color: #ffffff;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    cursor: pointer;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #ffffff;
}

.profile-head h3 {
    color: #0062cc;
}

.profile-info {
    padding-left: 75px;
}

.profile-info div {
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.shopping-cart {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.cart-head {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
}

.cart-item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.cart-item div {
    margin-bottom: 5px;
}

.product-details h3 {
    color: white;
    margin-left: 50px;
    margin-bottom: 30px;
}

.product-details h4 {
    color: white;
}

/*.carousel-img {*/
/*  width: 500px;*/
/*}*/

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.form-control:hover .tooltiptext {
    visibility: visible;
}