<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="container-fluid bg">
    <div class="container">
        <div class="container mt-5">
            <h1 class="text-white text-center">About</h1>
            <hr class="bg-dark hr-2"/>
            <p class="text-white text-center"> Spring MVC project: Java SDK 11, Spring Boot, Spring Data (MySql on AWS
                RDS), Spring Security, Cloudinary, Stripe, Apache POI, JMS, HTML 5, CSS, Bootstrap. Deployed on AWS EBS
                on Tomcat 8.5 with Corretto 11 running on 64bit Amazon Linux 2/4.1.4., Single instance</p>
            <p></p>
            <p class="text-white text-center">....... https://github.com/KrasimirKolchev/photo-mag .......</p>
            <p></p>
            <p class="text-white text-center"> --> Root admin username: rootadmin, pass: Adminpass1;</p>
            <p class="text-white text-center"> --> Bank card for test: 4242 4242 4242 4242 + any valid email, card validity: any future date, CVC: any
                3 digits</p>
        </div>
    </div>
</div>

<footer th:include="~{fragments/footer}"></footer>
</body>
</html>


