<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="container-fluid bg">
    <div class="container">
        <div class="container mt-5">
            <h1 class="text-white text-center">About us.</h1>
            <hr class="bg-dark hr-2"/>
            <p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Consectetur distinctio dolores
                doloribus ipsa ullam! Commodi dolor ducimus eligendi eveniet explicabo, illum inventore
                ipsam ipsum libero placeat praesentium sequi vero, voluptate.</p>
        </div>
    </div>
</div>

<footer th:include="~{fragments/footer}"></footer>
</body>
</html>


