<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>


<div class="container-fluid bg">
    <div class="container justify-content-center">
        <h2 class="form-title text-left text-white">Add address</h2>
        <form th:object="${addressAddBindingModel}" th:action="@{/addresses/add}" th:method="POST"
              class="main-form mx-auto col-md-4 d-flex flex-column justify-content-center" enctype="multipart/form-data" >
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="name" class="text-white font-weight-bold">Country</label>
                    <input th:field="*{country}" id="country" name="country" type="text" class="form-control"
                           placeholder="Country name" />
                    <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="errors alert alert-danger">Country.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="city" class="text-white font-weight-bold">City</label>
                    <input th:field="*{city}" id="city" name="city" type="text" class="form-control"
                           placeholder="City name" />
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="errors alert alert-danger">City.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="street" class="text-white font-weight-bold">Street</label>
                    <input th:field="*{street}" id="street" type="text" name="street" class="form-control"
                           placeholder="Street" />
                    <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="errors alert alert-danger">Street.</p>
                </div>
            </div>

            <div class="btn">
                <div class="col col-md-12">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>


