<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="container-fluid bg">
    <div class="container">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">

            <div th:each="c : ${categories}" class="offer card col-sm-8 col-md-4  col-lg-2 m-1 p-0">
                <div class="card-img-top-wrapper">
                    <img class="card-img-top" th:src="*{c.photo}" alt="Category image">
                </div>
                <div class="card-body pb-1">
                    <h5 class="card-title" th:text="*{c.name}"></h5>
                </div>
                <div class="card-body">
                    <a class="card-link" th:href="@{/products/{categoryName}(categoryName=${#strings.arrayToLowerCase(#strings.replace(c.name,' ','+'))})}">Products</a>
                </div>
            </div>

        </div>

    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>