<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="container-fluid bg">
    <div class="container">
        <h2 class="form-title text-left text-white">Edit Product</h2>
        <form th:object="${productEditBindingModel}" th:action="@{/products/edit{id}(id=${id})}" th:method="POST"
              class="main-form product-form mx-auto col-md-8 d-flex flex-column justify-content-center" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="name" class="text-white font-weight-bold">Product name</label>
                    <input th:field="*{name}" id="name" name="name" type="text" class="form-control"
                           placeholder="Product name" disabled/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="quantity" class="text-white font-weight-bold">Quantity</label>
                    <input th:field="*{quantity}" id="quantity" type="number" min="0" step="1" name="quantity" class="form-control"
                           placeholder="Quantity" />
                    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="errors alert alert-danger">Quantity.</p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="price" class="text-white font-weight-bold">Price</label>
                    <input th:field="*{price}" id="price" type="number" min="0.0" step=".01" name="price" class="form-control"
                           placeholder="Price" />
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errors alert alert-danger">Price</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="description" class="text-white font-weight-bold">Description</label>
                    <textarea rows="8" wrap="hard"  th:field="*{description}" id="description" name="description" type="text" class="form-control"
                              placeholder="Description"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="errors alert alert-danger">Description</p>
                </div>
            </div>

            <div class="btn">
                <div class="col col-md-12">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>


