<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="bg">
    <div class="container">

        <div class="accordion" id="ordersAccordion" th:object="${orders}">

            <th:block>
                <div class="card" th:each="order : ${orders}">
                    <div class="card-header" th:id="'heading' + ${order.id}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    th:data-target="'#collapse'+${order.id}" aria-expanded="false" th:aria-controls="'collapse'+${order.id}">
                                <p th:text="|Order date: date / Order id: ${order.chargeId} / Total amount: ${order.totalAmount}|"></p>
                            </button>
                        </h2>
                    </div>

<!--                    ${#dates.format(order.purchaseDateTime)}-->

                    <div th:id="'collapse' + ${order.id}" class="collapse" th:aria-labelledby="'heading'+${order.id}" data-parent="#ordersAccordion">

                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col">
                                    <div class="col-sm-2">Product Image</div>
                                    <div class="col-sm-8">Product Name</div>
                                    <div class="col-sm-1">Product Quantity</div>
                                    <div class="col-sm-1">Product Price</div>
                                </div>
                            </div>
                            <div class="row text-dark" th:each="item : ${order.orderItems}">
                                <div class="col card-item">
                                    <div class="col-sm-2"><img th:src="${item.orderItem.mainPhoto}" class="img-thumbnail" alt="Product img"></div>
                                    <div class="col-sm-8"><p th:text="${item.orderItem.name}"></div>
                                    <div class="col-sm-1"><p th:text="${item.quantity}"></div>
                                    <div class="col-sm-1"><p th:text="${item.subTotal}"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </th:block>

        </div>

    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>


