<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ORDERS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="bg">
    <div class="container">

        <div class="accordion" id="ordersAccordion" th:object="${orders}">

            <th:block>
                <div class="card" th:each="order : ${orders}">
                    <div class="card-header" th:id="'heading' + ${order.id}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    th:data-target="'#collapse'+${order.id}" aria-expanded="false" th:aria-controls="'collapse'+${order.id}">
                                <p th:text="|Order date: ${#dates.format(order.purchaseDateTime)} / Order id: ${order.chargeId} / Total amount: ${order.totalAmount}|"></p>
                            </button>
                        </h2>
                    </div>

                    <div th:id="'collapse' + ${order.id}" class="collapse" th:aria-labelledby="'heading'+${order.id}" data-parent="#ordersAccordion">

                        <div class="card-body text-dark">
                            <div class="row">
                                <div class="col">
                                    <div class="col-sm-2">Product Image</div>
                                    <div class="col-sm-8">Product Name</div>
                                    <div class="col-sm-1">Product Quantity</div>
                                    <div class="col-sm-1">Product Price</div>
                                </div>
                            </div>
                            <div class="row text-dark" th:each="item : ${order.orderItems}">
                                <div class="col card-item">
                                    <div class="col-sm-2"><img th:src="${item.orderItem.mainPhoto}" class="img-thumbnail" alt="Product img"></div>
                                    <div class="col-sm-8"><p th:text="${item.orderItem.name}"></div>
                                    <div class="col-sm-1"><p th:text="${item.quantity}"></div>
                                    <div class="col-sm-1"><p th:text="${item.subTotal}"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </th:block>

        </div>

    </div>
</div>

</body>
</html>


