<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 th:if="${#lists.isEmpty(orders)}" class="text-center text-white">You don't have any orders yest!</h3>

                <div class="accordion flex-column" id="ordersAccordion" th:object="${orders}">

                    <!--                        need optimization for smartphone-->
                    <th:block>
                        <div class="card" th:each="order : ${orders}">
                            <div class="card-header bg-dark" th:id="'heading' + ${order.id}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                            th:data-target="'#collapse'+${order.id}" aria-expanded="false" th:aria-controls="'collapse'+${order.id}">
                                        <p class="text-white d-flex" th:text="|Order date: ${#temporals.format(order.purchaseDateTime, 'dd-MM-yyyy HH:mm')} //
                                   Total amount: ${#numbers.formatDecimal(order.totalAmount, 1, 2)}BGN|"></p>
                                    </button>
                                </h2>
                            </div>
                            <div th:id="'collapse' + ${order.id}" class="collapse" th:aria-labelledby="'heading'+${order.id}" data-parent="#ordersAccordion">

                                <div class="card-body text-dark">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="col-sm-2">Product Image</div>
                                            <div class="col-sm-7">Product Name</div>
                                            <div class="col-sm-1 text-center">Quantity</div>
                                            <div class="col-sm-2 text-center">Price</div>
                                        </div>
                                    </div>
                                    <div class="row text-dark" th:each="item : ${order.orderItems}">
                                        <div class="col-8 card-item border-top border-dark">
                                            <div class="col-sm-2"><img th:src="${item.orderItem.mainPhoto}" class="img-thumbnail" alt="Product img"></div>
                                            <div class="col-sm-7"><p th:text="${item.orderItem.name}"></div>
                                            <div class="col-sm-1 text-center"><p th:text="${item.quantity}"></div>
                                            <div class="col-sm-2 text-center"><p th:text="|${#numbers.formatDecimal(item.subTotal, 1, 2)}BGN|"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </th:block>

                </div>
            </div>

        </div>
    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>


