<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="bg">
    <div class="container-fluid product-details text-white">
        <form th:action="@{/shopping-cart/add}" th:method="POST" th:onject="${cartItem}">
            <div th:object="${product}">
                <div class="row">
                    <h3 th:text="*{name}">Product name<span th:text="*{brand}"></span></h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="product-gallery">
                            <div id="carousel-thumb" class="carousel slide">
                                <!--Slides-->
                                <div class="carousel-inner">

                                    <div th:each="photo, iterstat : *{productGallery}" class="item"
                                         th:classappend="${iterstat.index} == 0 ? 'item active' : 'item'">
                                        <img class="d-md-block w-100" th:src="${photo}" alt="Slide">
                                    </div>

                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                                <!--                            <ol class="carousel-indicators list-inline">-->

                                <!--                                <li th:each="photo, iterstat : *{productGallery}" data-target="#carousel-thumb" class="list-inline-item"-->
                                <!--                                    th:attr="data-slide-to=${iterstat.index}" th:classappend="${iterstat.index} == 0 ? 'item active' : 'item'">-->
                                <!--                                    <img class="d-md-block img-fluid" th:src="${photo}" alt=""></li>-->

                                <!--                            </ol>-->
                                <!--                            commented html not working good (do not visualize after repeat)-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-8"><h4>Specifications</h4></div>
                        <div class="col-sm-6"><p th:wrap="hard" type="text" th:text="*{description}"> ... </p></div>
                    </div>
                </div>
                <br/>
                <div class="row justify-content-start" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="row col-sm-2 justify-content-center">
                        <div class="btn btn-warning btn-md">
                            <a class="text-white" th:href="@{/products/edit{id}(id=${product.id})}">Edit product</a>
                        </div>
                    </div>
                    <div class="row col-sm-2 justify-content-center">
                        <div class="btn btn-danger btn-md">
                            <a class="text-white" th:href="@{/products/delete{id}(id=${product.id})}">Delete product</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-sm-2">
                        <label for="quantity" class="text-white font-weight-bold">quantity</label>
                        <input th:field="${cartItem.quantity}" id="quantity" type="number" min="1"
                               th:max="*{quantity} > 5 ? 5 : *{quantity}"
                               step="1" name="quantity" class="form-control" placeholder="quantity"/>
                        <input type="hidden" name="id" id="id" th:value="${product.id}"/>
                    </div>
                    <div class="col-sm-2">

                        <div class="btn">
                            <div class="col">
                                <div class="button-holder d-flex justify-content-center">
                                    <input type="submit" class="btn btn-info btn-lg" value="Add To Cart">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:include="~{fragments/footer}"></footer>

</body>
</html>


