<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body class="bg-dark">

<nav th:include="~{fragments/menu}" class="navbar navbar-expand-lg navbar-dark fixed-top"></nav>

<div class="container-fluid bg">
    <div class="container emp-profile">
        <div th:object="${user}">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <div class="row justify-content-center">
                        <div class="profile-img">
                            <img th:src="*{profilePhoto}" alt="Default Photo"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">

                        <a class="btn btn-info mr-4 text-dark" href="/users/edit">Edit profile</a>

                        <a class="btn btn-danger ml-4 text-white" href="/users/delete">Delete profile</a>

                    </div>
                    <div class="row justify-content-center mt-3">

                        <a class="btn btn-info text-dark" href="/orders/all">Bought Products</a>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-white text-center">
                    <h4 class="text-white text-center">Profile info</h4>
                    <div class="row">
                        <div class="col-6">
                            <p>Username</p>
                        </div>
                        <div class="col-6">
                            <p th:text="*{username}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Name</p>
                        </div>
                        <div class="col-6">
                            <p th:text="|*{firstName} *{lastName}|"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Email</p>
                        </div>
                        <div class="col-6">
                            <p th:text="*{email}"></p>
                        </div>
                    </div>
                    <br/>
                    <h4 class="text-center">Addresses</h4>
                    <div class="row">
                        <div class="col-2">
                            <p>Country</p>
                        </div>
                        <div class="col-2">
                            <p>City</p>
                        </div>
                        <div class="col-8">
                            <p>Address</p>
                        </div>
                    </div>
                    <div class="row justify-content-center" th:if="${#sets.isEmpty(user.addresses)}">
                        <p class="text-center">You have no addresses!</p>
                    </div>
                    <div class="row border border-light" th:each="address : *{addresses}">
                        <div class="col-2">
                            <p th:text="${address.country}">Country</p>
                        </div>
                        <div class="col-2">
                            <p th:text="${address.city}">City</p>
                        </div>
                        <div class="col-8">
                            <p th:text="${address.street}">Address</p>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="btn-holder">
                            <div class="btn btn-info">
                                <a class="text-dark" href="/addresses/add">Add address</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="~{fragments/footer}"></footer>
</body>
</html>


